////////////////////////////////////////////////////
// GRID
////////////////////////////////////////////////////

body {
  background: #fff;
  color: $color_dark;
  font-size: 16px;
  font-family: $font_sans;

}

.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }

.col-centered {
  float: none;
  margin: 0 auto;
}

.row {
  margin: 0;
}

section {
  margin: 75px 0;
}

// Hard rule and surrounding spacers
.container-fluid.rule{
  padding: 0;
  &.rule.clouds::before {
    // background: #EBF3F8;
    border: 0;
  }
  &::before {
    display: block;
    border-bottom: 1px solid $color_lighter;
  }
  &::before, &::after{
    // height:75px;
  }
}

.memphis-1 {
  background-image: url('../img/memphis-2.svg');
  // background-size: 46px 29px;
}


////////////////////////////////////////////////////
// FORMS & BUTTONS
////////////////////////////////////////////////////

.btn {
  padding: 1rem 4rem;
  outline:none !important;
  border: 0px;
  border-radius: 500px;
  &:active {
    box-shadow: none;
  }
  &.btn-primary:hover {
    background: $color_green;
    transition: all .1s ease-out;
  }

  &.btn-primary {
    background: $color_primary;
  }

  &.btn-ghost {
    border: 2px solid $color_primary;
    background: transparent;
    color: $color_primary;
  }
}

input{
  font-weight: 300;
  &:focus {
    border-color: rgb(150, 204, 114) ;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150, 204, 114, .6) !important;
  }
}
input, button {
  -webkit-transition: all 150ms cubic-bezier(0.765, 0.030, 0.345, 0.965);
  -moz-transition: all 150ms cubic-bezier(0.765, 0.030, 0.345, 0.965);
  -o-transition: all 150ms cubic-bezier(0.765, 0.030, 0.345, 0.965);
  transition: all 150ms cubic-bezier(0.765, 0.030, 0.345, 0.965); /* custom */
  &:active {
    color: rgb(150, 204, 114);
  }
  &:hover {
    border-color: rgb(150, 204, 114);
    color: rgb(150, 204, 114);
  }

}

form {
  .alert-danger {
    clear: both;
    margin: 0 auto 20px;
    width: 390px;
    border: 0;
    border-radius: 500px;
    background: #F18564;
    color: white;
  }

}


.list.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 110px;
  a:hover{
    text-decoration: none;
  }
  & > div::before {
    float:left;
    padding-top:100%;
    content:'';
  }
  .article-block-bg {
    display: table;
    margin-top: 60px;
    width: 100%;
    background:lightblue;
    background-size: cover !important;
    &::before {
      float: left;
      padding-top: 100%;
      content:'';
    }
  }
  > div h3 {
    margin: 20px 0 10px;
    color: $color_dark;
    font-size: 1.5em;
    line-height: 1.4em;
  }
  .meta {
    margin: 0;
    color: $color_dark;
    text-transform: uppercase;
    font-weight: 100;
    font-style: italic;
    font-size: .875em;
  }

}


////////////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////////////

footer {
  .row {
    display: flex;

    &> div + div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .logo {
    margin-bottom: 30px;
    + p {
      margin-bottom: 30px;
    }
  }
  p {
    font-weight: 100;
    line-height: 24px;
  }
  .howdy {
    margin-top: 28px;
    color: $color_primary;
    text-align: right;
    font-weight: 300;
    font-size: .875em;
    img {
      margin-right: 5px;
    }
  }
  .copyright {
    margin-top: 24px;
    font-weight: 300;
    font-size: .75em;
    line-height: 2em;
  }
  .colophon {
    margin-top: 40px;
  }
  .social, .colophon {
    text-align: right;
    a {
      display: inline-block;
      margin-left: 10px;
      color: $color_green;
    }
  }
}

// SCROLL & STICK NAVBAR
.navbar {
  transition: all .2s linear;

  &.navbar-bestow {
    border-bottom: 1px solid $color_lighter;
    .navbar-brand {
      padding: 38px 15px !important;

    }
  }

  &.navbar-default {
    margin-top: -100px;
  }

  &.navbar-fixed-top {
    margin-top: 0;
  }

  a.btn {
    float:right;
    margin: 27px 0;
  }

  .btn-ghost:hover {
    border-color: $color_green;
    background: $color_green;
    color: white;
    transition: all .1s cubic-bezier(0, 0, 0.2, 1);
  }
}



/////////////////////////////////////////////////////////////////////
// HOMEPAGE
/////////////////////////////////////////////////////////////////////

#hero-wrapper {
  margin: 0;
  // padding-top: 99px;
  background: #333;

  #hero {
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(255,255,255,.4) 50%, rgba(255,255,255,.4) 100%);
    background: -webkit-gradient(left top, right top, color-stop(20%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,.4)), color-stop(100%, rgba(255,255,255,.4)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(255,255,255,.4) 50%, rgba(255,255,255,.4) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(255,255,255,.4) 50%, rgba(255,255,255,.4) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(255,255,255,.4) 50%, rgba(255,255,255,.4) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 20%, rgba(255,255,255,.4) 50%, rgba(255,255,255,.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    &.illustration {
      padding: 150px 15px;
      background-color: #fff !important;
      background-position: 50% 50% !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      .hero-logo {
        margin-bottom: 40px;
        width: 240px;
        text-align: center;
      }
      h1 {
        font-weight: 100;
        font-size: 64px;
        line-height: 82px;
        small {
          display: block;
          margin-top: 40px;
          margin-bottom: 60px;
          font-weight: 300;
          font-size: 28px;
          line-height: 40px;
        }
      }
    }
    .btn.btn-primary:hover {
      background: $color_green;
    }
    h3 {
      color: $color_dark;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
    }

    a {
      &:hover {
        text-decoration: none !important;
      }
    }
    p {
      margin-bottom: 4rem;
      color: #666e77;
      font-size: 2rem;
      font-family: $font_serif;
      line-height: 3rem;
    }
  }
}

#signup {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: $color_green;
  color: white;
  text-align: center;

  button {
    background: white;
    &.btn-ghost.btn {
      &:hover, &:active {
        background: $color_primary;
        color: white;
      }
    }
  }
}

#signup, #hero {
  h2 {
    margin-bottom: 25px;
    font-weight: 500;
  }
  p {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 22px;
  }
  #earlyAccessEmailTop, #earlyAccessEmailBottom {
    input {
      margin-right: 10px;
      max-width: 100%;
      width: 300px;
      height:42px;
      border-radius: 5px;
      font-size: 18px;

    }
  }
}


#why-bestow, #who-we-are, #how-bestow-works {
  h2 {
    text-align: center;
    font-weight: 100;
    font-size: 48px;
    line-height: 62px;
  }
  .row {
    display: flex;

    &:nth-child(odd){

      .col-md-5 {
        order: 1;
      }

      .col-md-7{
        order: 2;
      }
    }
  }

  p {
    font-size: 22px;
    font-family: $font_serif;
    line-height: 40px;
  }
  h3 {
    margin-bottom: 20px;
    // color: $color_primary;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }
  img {
    max-width: 100%;
  }
}


#who-we-are {
  margin: 0;
  padding: 75px 0 120px 0;
  padding-top: 0;
  background: #EBF3F8;
  background-color: #EBF3F8 !important;
  background-position: top !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  text-align: center;
  img {
    width: 100%;
  }
  p {
    text-align: left;
  }
  h2 {
    margin-bottom: 20px;
  }

  h2 +.subhead {
    margin-bottom:60px;
    text-align: center;
    font-size:24px;
    font-family: $font-sans;
    line-height:32px;

  }

  .row {
    .col-md-8 {
      display: block;
      .horizontal-flex {
        display: flex;
        justify-content: center;
      }
    }
    &:first-child img {
      margin: 0 0 60px 0;
    }
  }
}


#why-bestow {
  padding-top: 60px;

  .row {
    margin-bottom: 60px;

    &:first-child {
      display: block;
    }

    &:nth-child(odd){

      .col-md-5, .col-md-4 {
        order: 1;
        text-align: right;
      }

      .col-md-7, .col-md-8 {
        order: 2;
      }
    }

    .col-md-7, .col-md-5, .col-md-8, .col-md-4, .col-md-6, .col-md-6 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      line-height: 40px;
    }
    img {
      width: 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}


#how-bestow-works {
  overflow: hidden;
  margin-bottom: 150px;
  .row img {
    margin-top: 58px;

  }
}

////////////////////////////////////////////////////
// FORM SENT SUCCESS
////////////////////////////////////////////////////
.section-success {
  .navbar-collapse {
    display: none !important;
  }
  & > .container {
    padding-top: 60px;
    .btn {
      display: block;
      margin: 40px auto;
      width: 300px;
    }
  }
  .navbar {
    margin-top: 0 !important;
  }
  .alert-success {
    background: transparent;
    text-align: center;
  }
  h1, hr {
    display: none;
  }
  h1.thanks {
    display: block;
    text-align: center;
    font-weight: 100;
    font-size: 48px;
    line-height: 64px;
  }
  .takeover-success {

    h2 {
      margin-bottom: 10px;
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
    }

    p {
      font-weight: 300;
    }
  }

}
