body {&::before {position:fixed;z-index: 9999;width:100%; height:100%;border: 2px dotted #6600cc;color:#6600cc;content:"breakpoint: infinite (default): > 1200px"; pointer-events: none;}} // Debug

// Phones (<768px) //////////////////////////////////////////////////////////////////////////////
@include mobile {
  body {&::before {position:fixed;z-index: 9999;width:100%; width:100%; height:100%;height:100%; border: 2px dotted #cc6600; color:#cc6600;content:"Phones (<768px) col-xs"; pointer-events: none;;}} // Debug

  section.regular {
    padding: 4rem 2rem !important;
  }
  .list.row > div {
    width: 100%;
  }

  #hero-wrapper {
    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255, 0.7);
    }

    #hero.illustration {
      background-position: 85% 20% !important;
      background-size: auto 100% !important;
    }
  }

  #why-bestow {
    .row {
      display: block;
      h3, p {
        text-align: center;
      }
      .col-md-8 {
        margin-bottom: 40px;
      }
    }
  }

  #how-bestow-works {
    .row img {
      margin-left: -20%;
      max-width: 140%;
      width: 140%;
    }
  }

  #earlyAccessEmail {
    .form-group:last-child{
      margin-bottom: 0;
    }
    .form-inline .form-control, .form-group {
      display: block;
      input, #email {
        width: 100%;
      }
      .btn {
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
      }
    }
  }

  footer {
    .row {
      display: block;
      .colophon {
        margin-top: 20px;
      }
      .social, .colophon {
        text-align: left;
        a {
          margin: 0 10px 0 0;
        }
      }

      &> div + div {
        display: block;
        flex-direction: row;
        justify-content: top;
      }
    }
  }

};


// Tablets (≥768px) //////////////////////////////////////////////////////////////////////////////
@include tablet {
  body {&::before {position:fixed;z-index: 9999;width:100%; height:100%;border: 2px dotted #ffcc00;color:#ffcc00;content:"Tablets (≥768px) col-sm"; pointer-events: none;}} // Debug
  #hero-wrapper {

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255, 0.7);
    }

    #hero.illustration {
      h1, h1 small {
        width: 100%;
      }
    }
  }

  section.regular {padding: 0 2rem;}

  #earlyAccessEmail {
    .form-inline .form-control, .form-group {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
  }
  #hero-wrapper #hero.illustration {
    background-position: center right !important;
    background-size: auto 100% !important;
  }

  #how-bestow-works {
    .row img {
      margin-left: -20%;
      max-width: 140%;
      width: 140%;
    }
  }
};

// Desktops (≥992px) //////////////////////////////////////////////////////////////////////////////
@include desktop {
  body {&::before {position:fixed;z-index: 9999;width:100%; height:100%;border: 2px dotted #00cc44;color:#00cc44;content:"Desktops (≥992px) col-md"; pointer-events: none;}} // Debug

  #hero-wrapper #hero.illustration h1 {
    font-weight: 100;
    font-size: 5vw;
    line-height: 7vw;
    small {
      display: block;
      font-weight: 300;
      font-size: 2.4vw;
      line-height: 50px;
    }
  }

  #how-bestow-works {
    .row img {
      margin-left: -20%;
      max-width: 140%;
      width: 140%;
    }
  }
};

// Widescreen (≥1200px) //////////////////////////////////////////////////////////////////////////////
@include widescreen { // < 1200 Wide
  body {  &::before {position:fixed;z-index: 9999;width:100%; height:100%;border: 2px dotted blue;color:blue;content:"Widescreen (≥1200px) col-lg"; pointer-events: none;}} // Debug

  #earlyAccessEmail .btn {
  }

  #hero-wrapper #hero.illustration h1 {
    width: auto;
    font-size: 64px;
    line-height: 72px;
    small {
      margin-top: 16px;
      width: auto;
      font-size: 32px;
      line-height: 40px;
    }
  }

};
