@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,500");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif");
.rounded {
  border-radius: 500px;
}

body {
  background: #fff;
  color: #35383A;
  font-size: 16px;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#signup,
#hero {
  padding-top: 110px;
  padding-bottom: 110px;
  background: #F7F9FA;
}

#hero-wrapper {
  background: #333;
}

#hero-wrapper #hero {
  position: relative;
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(left top, right top, color-stop(20%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

#hero-wrapper #hero.illustration {
  padding: 150px 15px;
  background-color: #F7F9FA !important;
  background-position: 50% 50% !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

#hero-wrapper #hero.illustration h1 {
  font-weight: 100;
  font-size: 64px;
  line-height: 82px;
}

#hero-wrapper #hero.illustration h1 small {
  display: block;
  margin-top: 24px;
  font-weight: 300;
  font-size: 28px;
}

#hero-wrapper #hero h3 {
  color: #35383A;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

#hero-wrapper #hero a:hover {
  text-decoration: none !important;
}

#hero-wrapper #hero p {
  margin-bottom: 4rem;
  color: #666e77;
  font-size: 2rem;
  font-family: "Droid Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 3rem;
}

.list.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 110px;
}

.list.row a:hover {
  text-decoration: none;
}

.list.row > div::before {
  float: left;
  padding-top: 100%;
  content: '';
}

.list.row .article-block-bg {
  display: table;
  margin-top: 60px;
  width: 100%;
  background: lightblue;
  background-size: cover !important;
}

.list.row .article-block-bg::before {
  float: left;
  padding-top: 100%;
  content: '';
}

.list.row > div h3 {
  margin: 20px 0 10px;
  color: #35383A;
  font-size: 1.5em;
  line-height: 1.4em;
}

.list.row .meta {
  margin: 0;
  color: #35383A;
  text-transform: uppercase;
  font-weight: 100;
  font-style: italic;
  font-size: .875em;
}

#signup h2 {
  margin-bottom: 25px;
  font-weight: 100;
}

#signup p {
  margin-bottom: 50px;
  font-weight: 300;
}

#signup #earlyAccessEmail input {
  margin-right: 10px;
  max-width: 100%;
  width: 250px;
  height: 42px;
  border-radius: 5px;
}

input {
  font-weight: 300;
}

.btn {
  padding: 1rem 4rem;
  border: 0px;
  border-radius: 500px;
}

.btn.btn-primary {
  background: #4796c6;
}

.btn.btn-ghost {
  border: 2px solid #4796c6;
  background: transparent;
  color: #4796c6;
}

footer .row {
  display: -ms-flexbox;
  display: flex;
}

footer .row > div + div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .logo {
  margin-bottom: 30px;
}

footer .logo + p {
  margin-bottom: 30px;
}

footer p {
  font-weight: 100;
  line-height: 24px;
}

footer .crafted-with-love {
  margin-top: 28px;
  color: #96CC72;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 500;
  font-size: .875em;
}

footer .crafted-with-love img {
  margin-right: 5px;
}

footer .copyright {
  margin-bottom: 3em;
  font-weight: 300;
  font-size: .75em;
  line-height: 1.3333333333em;
}

footer .social {
  text-align: right;
}

footer .social a {
  display: inline-block;
  margin-left: 10px;
}

.navbar-bestow .navbar-brand {
  padding: 38px 15px !important;
}

.navbar button {
  float: right;
  margin: 27px 0;
}

#who-we-are {
  text-align: center;
}

#who-we-are .row:first-child img {
  margin: 0 20px 60px 0;
}

section {
  margin: 75px 0;
}

#hero-wrapper {
  margin: 0;
}

#why-bestow .row {
  margin-bottom: 150px;
}

#why-bestow .row img {
  width: 100%;
}

#why-bestow .row:last-child {
  margin-bottom: 0;
}

.container-fluid.rule {
  padding: 0;
}

.container-fluid.rule::before {
  display: block;
  border-bottom: 1px solid #F1F3F6;
}

.container-fluid.rule::before,
.container-fluid.rule::after {
  height: 75px;
}

#why-bestow h2,
#who-we-are h2,
#how-bestow-works h2 {
  text-align: center;
  font-weight: 100;
  font-size: 48px;
  line-height: 62px;
}

#why-bestow .row,
#who-we-are .row,
#how-bestow-works .row {
  display: -ms-flexbox;
  display: flex;
}

#why-bestow .row .col-md-4,
#who-we-are .row .col-md-4,
#how-bestow-works .row .col-md-4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

#why-bestow .row:nth-child(even) .col-md4,
#who-we-are .row:nth-child(even) .col-md4,
#how-bestow-works .row:nth-child(even) .col-md4 {
  -ms-flex-order: 1;
  order: 1;
}

#why-bestow .row:nth-child(even) .col-md-8,
#who-we-are .row:nth-child(even) .col-md-8,
#how-bestow-works .row:nth-child(even) .col-md-8 {
  -ms-flex-order: 2;
  order: 2;
}

#why-bestow .row p,
#who-we-are .row p,
#how-bestow-works .row p {
  font-size: 22px;
  font-family: "Droid Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 32px;
}

#why-bestow .row h3,
#who-we-are .row h3,
#how-bestow-works .row h3 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

#why-bestow .row img,
#who-we-are .row img,
#how-bestow-works .row img {
  max-width: 100%;
}

section#how-bestow-works {
  margin-bottom: 150px;
}

.regular {
  margin: 0 auto;
  padding: 64px 0;
  max-width: 700px;
}

.hero {
  position: relative;
  margin-top: -21px;
  padding-bottom: 64px;
}

.hero .hero-background {
  position: relative;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero-background .overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 700px;
  background: rgba(0, 0, 0, 0.55);
}

.hero header,
.hero article {
  z-index: 2;
  margin: 0 auto;
  padding: 64px 0;
  max-width: 700px;
}

.hero header {
  position: relative;
  color: #fff;
  text-align: center;
}

.hero header h1 {
  margin-top: 200px;
}

.hero header h2 {
  font-style: italic;
  font-family: "Droid Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
}

.hero .meta {
  position: absolute;
  bottom: 32px;
  left: 50%;
  z-index: 5;
  margin: 0 0 0 -350px;
  width: 700px;
  text-align: center;
}

.hero .meta .avatar,
.hero .meta .name,
.hero .meta .length,
.hero .meta .date {
  display: block;
  text-align: center;
}

.hero .meta .name {
  margin: 5px 0;
  color: #fff;
  text-transform: normal;
  font-style: italic;
  font-size: 18px;
  font-family: "Droid Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
}

.hero .meta img {
  display: inline-block;
}

.hero .meta .date {
  margin-top: 10px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

section header .meta .author {
  float: left;
}

section header .meta img {
  float: left;
  margin-right: 12px;
}

section header .meta a {
  display: block;
}

section header .meta .date {
  float: right;
  margin-top: 8px;
}

footer.article-footer {
  padding: 32px 0;
  background: #fafafa;
}

.block .meta {
  margin: 5px 0 0;
}

footer.page {
  padding: 64px 0;
  background: #fff;
  text-align: center;
}

footer.page p.copyright {
  font-weight: 900;
  font-size: 14px;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

footer.page p.tribute {
  color: #cdd0d2;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-size: 13px;
}

.section-things {
  background: #f2f2f2;
}

.section-things section header {
  z-index: 2;
  margin: 0 auto;
  padding: 64px 0 32px;
  max-width: 700px;
  text-align: center;
}

.read-more {
  display: block;
  margin-top: 96px;
  color: #cdd0d2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-size: 13px;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.read-more a {
  color: #666e77;
}

body {
  border: 2px dotted #6600cc;
}

body::before {
  position: fixed;
  z-index: 1;
  color: #6600cc;
  content: "breakpoint: infinite (default): > 1200px";
}

@media only screen and (max-width: 1200px) {
  body {
    border: 2px dotted blue;
  }

  body::before {
    position: fixed;
    z-index: 1;
    color: blue;
    content: "breakpoint: widescreen (col-lg): 1200px";
  }

  #earlyAccessEmail .btn {
    margin-left: 20px;
  }

  #hero-wrapper #hero.illustration h1 {
    font-weight: 100;
    font-size: 5vw;
    line-height: 7vw;
  }

  #hero-wrapper #hero.illustration h1 small {
    display: block;
    font-weight: 300;
    font-size: 2.4vw;
    line-height: 50px;
  }
}

@media only screen and (max-width: 992px) {
  body {
    border: 2px dotted #00cc44;
  }

  body::before {
    position: fixed;
    z-index: 1;
    color: #00cc44;
    content: "breakpoint: desktop (col-md): < 992px";
  }

  #hero-wrapper #hero.illustration h1 {
    font-size: 45px;
    line-height: 60px;
  }

  #hero-wrapper #hero.illustration h1 small {
    margin-top: 16px;
    width: 45%;
    font-size: 24px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    border: 2px dotted #ffcc00;
  }

  body::before {
    position: fixed;
    z-index: 1;
    color: #ffcc00;
    content: "breakpoint: tablet (col-sm): < 768px";
  }

  #hero-wrapper .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 249, 250, 0.7);
  }

  #hero-wrapper #hero.illustration h1,
  #hero-wrapper #hero.illustration h1 small {
    width: 100%;
  }

  section.regular {
    padding: 0 2rem;
  }

  #earlyAccessEmail .form-inline .form-control,
  #earlyAccessEmail .form-group {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  #hero-wrapper #hero.illustration {
    background-position: center right !important;
    background-size: auto 100% !important;
  }
}

@media only screen and (max-width: 576px) {
  body {
    border: 2px dotted #cc6600;
  }

  body::before {
    position: fixed;
    z-index: 1;
    color: #cc6600;
    content: "breakpoint: mobile (col-xs): < 576px";
  }

  section.regular {
    padding: 4rem 2rem !important;
  }

  .list.row > div {
    width: 100%;
  }

  #earlyAccessEmail .form-group:last-child {
    margin-bottom: 0;
  }

  #earlyAccessEmail .form-inline .form-control,
  #earlyAccessEmail .form-group {
    display: block;
  }

  #earlyAccessEmail .form-inline .form-control input,
  #earlyAccessEmail .form-inline .form-control #email,
  #earlyAccessEmail .form-group input,
  #earlyAccessEmail .form-group #email {
    width: 100%;
  }

  #earlyAccessEmail .form-inline .form-control .btn,
  #earlyAccessEmail .form-group .btn {
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
  }

  footer .row {
    display: block;
  }

  footer .row .social {
    text-align: left;
  }

  footer .row .social a {
    margin: 0 10px 0 0;
  }

  footer .row > div + div {
    display: block;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: top;
    justify-content: top;
  }
}

@media only screen and (max-height: 800px) {
  body {
    border: 2px dotted #aaa;
  }

  body::before {
    position: fixed;
    z-index: 1;
    color: purple;
    content: "breakpoint: laptop";
  }
}

input.giant {
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 60px;
  font-weight: 300;
  color: #35383A;
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 96px;
  margin-bottom: 32px;
  margin-left: -5px;
  padding: 0px;
  letter-spacing: -.03em;
  outline: none;
}

input.giant:focus,
input.giant:active {
  outline: none;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 32px -1px;
  font-weight: 300;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 12px;
}

h6 em {
  color: #cdd0d2;
  font-style: normal;
}

.special {
  margin-bottom: 64px;
  font-family: "Droid Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.special small {
  display: block;
  margin-bottom: 10px;
  color: #cdd0d2;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-size: 13px;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

section header h1 {
  margin-bottom: 32px;
  line-height: 1;
}

section header h2 {
  margin-bottom: 64px;
  font-weight: 300;
  font-size: 32px;
}

article.content p {
  margin: 0 0 32px;
  font-size: 18px;
  font-family: "Droid Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 32px;
}

article.content p > a {
  position: relative;
  color: #35383A;
  text-decoration: none;
  text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
  white-space: nowrap;
}

article.content p > a:after {
  position: absolute;
  bottom: 0.1em;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  border-top: 1px solid #000;
  content: "";
}

article.content blockquote {
  margin: 0;
  margin: 0 -160px 32px -160px;
  padding: 0;
  border: none;
}

article.content blockquote p {
  margin: 0;
  text-align: center;
  font-style: italic;
  font-size: 28px;
  line-height: 1.5;
}

article.content ul,
article.content ol {
  margin-bottom: 32px;
}

article.content li {
  margin-bottom: 16px;
}

article.content li:last-child {
  margin-bottom: 0;
}

article.content img {
  margin-top: 10px;
  max-width: 100%;
  text-align: center;
}

article.content img.yank-left {
  float: left;
  margin-right: 32px;
  margin-left: -15%;
  max-width: 30%;
}

article.content img.yank-right {
  float: right;
  margin-right: -15%;
  margin-left: 32px;
  max-width: 30%;
}

article.content img.oversized {
  margin: 0 -15% 0 -15%;
  max-width: 130%;
}

article.content p.caption {
  padding-top: 3px;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-family: "Droid Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

article.content iframe {
  margin-bottom: 32px;
}

.block {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.block h3 {
  margin: 0 0 5px;
  font-weight: 300;
  font-size: 24px;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

.block p {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

.block a {
  color: #35383A;
}

.block a:hover,
.block a:focus {
  text-decoration: none;
}

.block img {
  max-width: 100%;
}

.block img.small-image {
  float: right;
  margin: 3px 0 0 32px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.block img.large-image {
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.meta {
  margin: 0 0 64px;
  color: #cdd0d2;
  font-size: 12px;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.meta a {
  padding-top: 5px;
  color: #4796c6;
  font-weight: bold;
  font-size: 14px;
}

.meta .date {
  color: #35383A;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

code {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 14px;
}

.centered {
  text-align: center;
}

.gallery header {
  padding: 64px 0 32px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  z-index: 2;
}

.gallery-images {
  padding: 10px;
}

.gallery-images img {
  vertical-align: bottom;
  opacity: 0;
}

.navbar-bestow {
  margin-bottom: 0;
  min-height: 100px;
  border-radius: 0;
  background: #fff;
}

.navbar-bestow .nav {
  overflow: hidden;
  color: #cdd0d2;
  font-size: 12px;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar-bestow .nav a {
  margin-left: 32px;
  padding: 20px 0;
  color: #cdd0d2;
  text-transform: uppercase;
  letter-spacing: .1em;
  -webkit-backface-visibility: hidden;
}

.navbar-bestow .nav a:before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #cdd0d2;
  content: '';
  opacity: 0;
  transition: all 100ms ease;
}

.navbar-bestow .nav a:hover,
.navbar-bestow .nav a:focus {
  background: transparent;
}

.navbar-bestow .nav a:hover:before,
.navbar-bestow .nav a:focus:before {
  bottom: 0;
  opacity: 1;
}

.navbar-bestow .nav .active a {
  position: relative;
  color: #35383A;
  font-weight: bold;
}

.navbar-bestow .nav .active a:before {
  bottom: 0;
  height: 2px;
  background: #35383A;
  opacity: 1;
}

.navbar-bestow .navbar-brand {
  padding: 20px 15px;
  height: 100px;
  color: #4796c6;
  letter-spacing: -.05em;
  font-weight: 500;
  font-size: 32px;
}

.navbar-bestow .navbar-form {
  margin-top: 13px;
}

.navbar-bestow .search {
  display: block;
  width: 180px;
  border-radius: 32px;
  font-size: 14px;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  transition: width 220ms ease;
}

.navbar-bestow .search.grow {
  width: 300px;
}

.navbar-toggle {
  margin-top: 12px;
  background: #eee;
}

.navbar-toggle .icon-bar {
  background: #aaa;
}

.tags {
  display: block;
  margin: 0 0 32px;
  padding: 32px 0 0;
  list-style: none;
}

.tags li {
  display: inline-block;
  margin-right: 10px;
}

.tags a {
  display: inline-block;
  background: rgba(0, 0, 0, 0.05);
  color: #666e77;
  cursor: pointer;
  font-family: "Roboto", -apple-system, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 2px;
}

.tiles {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 64px;
}

.tiles .item {
  background: #fff;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);
  padding: 30px;
  height: 300px;
  width: 300px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  margin: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.tiles .item:hover {
  text-decoration: none;
}

.tiles .item .image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.tiles .item .caption {
  text-align: center;
  box-shadow: 0px 0px 50px 100px rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.75);
  color: #35383A;
  font-weight: 300;
  margin: 0;
  opacity: 0;
  transition: all .15s;
}

.tiles .item:hover .caption {
  opacity: 1;
}

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  transition: all 300ms;
}

img.zoom-img {
  cursor: pointer;
  cursor: -moz-zoom-out;
}

.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}