<nav class="navbar navbar-default navbar-bestow">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href="/"><img src="{{ theme:img src="logo.svg" }}" alt="Bestow"></a>
    </div>

    <div class="collapse navbar-collapse" id="nav-main">
      <!-- Going to need to conditionally show different nav on the blog. -->
      <a class="btn btn-ghost" href="#scroll-target-1" data-scroll data-options='{
                    "speed": 500,
                    "easing": "easeInOutQuint",
                    "offset": 180
                }'>Get Early Access</a>
    </div>

  </div>
</nav>
